body {
    background-color: #000;
  }
  
  h1 {
    font-size: 4em;
    text-shadow: 2px 2px 10px black;
  }
  
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 30vh;
  }
  
  #landing-header h1 {
    color: #fff;
  }
  
  .signup { margin-right: 10px; }

  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 15s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1920&q=1080);
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1552566626-52f8b828add9?auto=format&fit=crop&w=1920&q=1080);
    animation-delay: 3s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?auto=format&fit=crop&w=1920&q=1080);
    animation-delay: 6s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?auto=format&fit=crop&w=1920&q=1080);
    animation-delay: 9s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?auto=format&fit=crop&w=1170&q=80);
    animation-delay: 12s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
  }
  
  .no-cssanimations .slideshow li {
      opacity: 1;
  }
  
  .jumbotron {
      color: white;
      background-color: rgba(0, 0, 0, 0.469);
      border-radius: 20px;
      margin: auto;
      width: 800px;
      max-width: 90%;
      min-height: 300px;
      justify-content: center;
  }